*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*container*/

.container-sm{
    width: 80%;
    margin: 0 auto;
}

.container{
    width: 100%;
    margin: 0 auto;
    background-color: gray;
    padding: 40px;
    margin-top: 50px;
}

/*header*/

.header{
    margin-top: 20px;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    justify-content: space-between;
}

.d-flex{
    display: flex;
}
/**Main**/

.grid{
    flex-wrap: wrap;
    display: flex;
    width: 500px;
    height: 500px;
    border: 1px solid red;
}

.cell{
    display: inline-block;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid rgb(112, 112, 112);
}

.clicked{
    background-color: white;
}